# Node.js 依赖
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock
.pnpm-store/

# VitePress 相关
.vitepress/cache/
.vitepress/dist/
cache/
dist/

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器目录和文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history
*.local

# 系统文件
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
$RECYCLE.BIN/

# 环境变量
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# 临时文件
temp/
.temp/
.tmp/
*.tmp
*.bak
*.cache

# 编译输出
dist-ssr
*.local
build/
out/
coverage/

# 其他
*.pid
*.seed
*.pid.lock
.vercel
.netlify
_drafts/
